@using Syncfusion.EJ2
@using BillerClientConsole.Models.QueryModel 

@{
    Layout = "_LayoutMain";
    bool HasQuery = false;
}


<div class="container-fluid mt-3">
    <input hidden id="applicationId" value="@ViewBag.Application"/>
    <input hidden id="Email" value="@ViewBag.NameOffice.Office.EmailAddress"/>
    <input hidden id="TaskId" value="@ViewBag.TaskId"/>

    <!-- SmartWizard html -->
    <div id="smartwizard">

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#step-1">
                    <strong>Name details of the entity</strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#step-2" data-repo="smartwizard">
                    <strong>Registered office</strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#step-3" data-repo="jquery-smartcart">
                    <strong> Directors and Secretary</strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#step-4" data-repo="jquery-smartcart">
                    <strong>Memorundum of association</strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#step-5" data-repo="jquery-smartcart">
                    <strong>Articles of association</strong>
                </a>
            </li>
        </ul>



        <div class="tab-content">

            <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                <div class="card">
                    <div class="card-body">
                        <input type="hidden" name="billercode" value="@ViewBag.billercode" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name of entity</label>
                                    <input type="text" class="form-control" value="@ViewBag.NameOffice.Name" placeholder="Entity name" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Type of entity</label>
                                    <input type="text" class="form-control" value="@ViewBag.NameOffice.Type" placeholder="Type" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Justification</label>
                                    <input type="text" class="form-control" placeholder="Justification" value="@ViewBag.NameOffice.Justification" readonly>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>





            <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                <form id="officeForm" method="post">
                    <!--id="officeForm"-->

                    <input type="hidden" id="txtapplicationRef" name="applicationRef" value="@ViewBag.Application" />
                    <input type="hidden" name="tableName" value="RegisteredOffice" />
                    <input type="hidden" name="applicationID" value="@ViewBag.ApplicationID"/>
                    @*<input type ="hidden" name="tableName" value="RegisteredOffice" />*@

                    <div class="card">
                        <div class="card-header">
                            <h4>Registered office details</h4>
                        </div>
                        <div class="card-body">

                            <input type="hidden" name="billercode" value="@ViewBag.billercode" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="#physicalAddress">Physical address</label>
                                        <input type="text" id="physicalAddress" class="form-control" value="@ViewBag.NameOffice.Office.PhysicalAddress" readonly>
                                        <input type="hidden" id="txtofficeid" class="form-control" name="officeid" value="@ViewBag.NameOffice.Office.OfficeId" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="#postalAddress">Postal address</label>
                                        <input type="text" class="form-control" id="postalAddress" value="@ViewBag.NameOffice.Office.PostalAddress" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="#city">City</label>
                                        <input type="text" class="form-control" id="city" value="@ViewBag.NameOffice.Office.City" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="#emailAddress">Email address</label>
                                        <input type="email" class="form-control" name="emailAddress" id="txtemailAddress" value="@ViewBag.NameOffice.Office.EmailAddress" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="#telephone">Telephone number</label>
                                        <input type="text" class="form-control" id="telephone" value="@ViewBag.NameOffice.Office.TelephoneNumber" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Mobile number</label>
                                        <input type="text" class="form-control" id="mobileNumber" value="@ViewBag.NameOffice.Office.MobileNumber" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="HasQuery">Raise Query</label>
                                        <input type="checkbox" asp-for="@HasQuery" name="HasQuery" id="txtHasQuery">

                                    </div>
                                </div>





                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <input type="text" class="form-control" id="txtcomment" name="comment" required>
                                        @* we neeed to test why the text bpx is not working.. the value will post if put manually *@
                                    </div>
                                </div>


                                <div class="form-group fa-pull-rig ht mt-5">
                                    <button type="button" id="btnsubmit" class="btn btn-danger">

                                        <!-- //id="submitOffice"  style="display:none" -->
                                        Submit Query
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <script>
                $(document).ready(function () {
                    $("#btnsubmit").click(function (e) {
                        //Serialize the form datas.
                        var valdata = $("#officeForm").serialize();
                        //to get alert popup
                        //alert(valdata);
                        $.ajax({
                            url: '/Queries/RegisteredOfficeHasQuery',
                            type: "POST",
                            dataType: 'json',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            data: valdata,
                            success: function (msg) {
                                alert("Query Saved");
                            },
                            error: function (msg) {
                                alert("Query Processed");
                            }

                        });

                    });
                });
            </script>



       

            <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                <input type="hidden" nameF="billercode" value="@ViewBag.billercode" />

                <div class="card">
                    <div class="card-header">
                        <label class="mt-3">Members</label>
                        <span style="flex: 1 1 auto"></span>
                    </div>
                    <div class="card-body">
                        <div class="form-group">

                            <form action="" id="membersForm" method="post" style="width:100%;">

                                <div class="card">
                                    <!-- .card-header -->
                                    <div class="card-body d-flex">
                                        <!-- .dropdown -->
                                        <div class="table-responsive">
                                            <!-- .table -->
                                            <table class="table">
                                                <!-- thead -->
                                                <thead>
                                                    <tr>
                                                        <th style="min-width:256px"> Full Name </th>
                                                        <th>National ID/Passport</th>
                                                        <th>Nationality </th>
                                                        <th> Address </th>
                                                        <th> Date of Appoinment </th>

                                                        <th>Action</th>
                                                    </tr>
                                                </thead><!-- /thead -->
                                                <!-- tbody -->
                                                <tbody id="Directors">
                                                    @if (ViewBag.Subscribers != null)
                                                    {
                                                        @foreach (var subs in ViewBag.Subscribers)
                                                        {
                                                            if (subs.IsDirector == 1)
                                                            {


                                                                <tr>


                                                                    <td>@subs.surname  @subs.names </td>

                                                                    <td>@subs.id_no</td>

                                                                    <td>@subs.nationality</td>

                                                                    <td>@subs.address</td>
                                                                    <td>@subs.names</td>

                                                              
                                                                    <td></td>

                                                             
                                                                    <td>@subs.names</td>

                                                                </tr>
                                                            }

                                                        }
                                                    }
                                                </tbody><!-- /tbody -->
                                            </table><!-- /.table -->
                                        </div><!-- /.table-responsive -->

                                    </div><!-- /.card-header -->
                                    <!-- .table-responsive -->
                                 
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="HasQuery">Raise Query</label>
                                        <input type="checkbox" asp-for="@HasQuery" name="HasQuery" id="thasQuery">
                                        <input type="hidden" id="tapplicationRef" name="applicationRef" value="@ViewBag.Application" />
                                        <input type="hidden" id="tapplicationID" name="applicationID" value="@ViewBag.ApplicationID" />

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <input type="text" class="form-control" id="tcomment" name="comment" required>
                                    </div>
                                </div>
                                <div class="form-group fa-pull-right">
                                    <button type="button" id="submitMembersDirectors" class="btn btn-danger">
                                        Submit Query
                                    </button>
                                </div>
                                <div class="form-group fa-pull-right">
                                    <button type="submit" class="btn btn-primary" style="display:none">
                                        Continue
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="members" id="members" />
                <input type="hidden" name="companyMembers" id="companyMembers" />

                <div class="form-group fa-pull-right mt-5">
                    <button type="button" id="submitEntityMembers" onclick="submitMembers()" class="btn btn-primary btn-sm" style="display:none">
                        Save application
                    </button>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $("#submitMembersDirectors").click(function (e) {
                        //Serialize the form datas.
                        var valdata = $("#membersForm").serialize();
                        //to get alert popup
                        //alert(valdata);
                        $.ajax({
                            url: '/Queries/MembersHasQuery',
                            type: "POST",
                            dataType: 'json',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            data: valdata,
                            success: function (msg) {
                                alert("Query Saved");
                            },
                            error: function (msg) {
                                alert("Query Processed");
                            }

                        });

                    });
                });
            </script>


            <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
                <div class="card">
                    <div class="card">
                        <div class="card-body">


                            <form action="#" method="post" style="width:100%;">
                                <input type="hidden" id="ApplicatioID" name="billercode" value="@ViewBag.Application_Ref" />
                                <input type="hidden" name="billercode" value="@ViewBag.billercode" />
                                <input type="hidden" id="objectivesss" name="otherObjectives" value="@ViewBag.AppId" />
                                <input type="hidden" name="billercode" value="@ViewBag.billercode" />

                                <div class="nav-scroller border-bottom">
                                    <!-- .nav-tabs -->
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active show" data-toggle="tab" href="#client-projects">Company  Objects</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#client-projects1">Liability Clause</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#client-projects2">Share Clause</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#client-projects3">Shareholders</a>
                                        </li>

                                    </ul><!-- /.nav-tabs -->
                                </div>



                                <div class="tab-content pt-4" id="clientDetailsTabs">
                                    <!-- .tab-pane -->
                                    <div class="tab-pane fade show active" id="client-projects" role="tabpanel" aria-labelledby="client-projects-tab">
                                        <!-- .card -->
                                        <div class="card">

                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <!-- .table -->
                                                    <table class="table">
                                                        <!-- thead -->
                                                        <thead>
                                                            <tr>

                                                                <th style="color:#0C2A46">Objects</th>


                                                            </tr>
                                                        </thead><!-- /thead -->
                                                        <!-- tbody -->
                                                        <tbody id="tblObjects">
                                                            @if (ViewBag.objects != null)
                                                            {
                                                                @foreach (var obj in ViewBag.objects)
                                                                {
                                                                    <tr>
                                                                        <td>@obj.objective</td>
                                                                    </tr>

                                                                }
                                                            }
                                                        </tbody><!-- /tbody -->
                                                    </table><!-- /.table -->
                                                </div><!-- /.table-responsive -->
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show" id="client-projects1" role="tabpanel" aria-labelledby="client-projects-tab1">

                                        <div class="nav-tabs-navigation">

                                            <div class="card">


                                                <div class="form-group">
                                                    <div class="col-md-12">

                                                        <div class="card card-fluid">
                                                            <!-- #summernote-basic -->
                                                            <textarea type="text" id="liabilityClause" class="form-control" rows="5" readonly name="liab" required>@ViewBag.liability</textarea>

                                                        </div><!-- /.card-body -->

                                                    </div><!-- /.card -->
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .card -->
                                    <!-- .tab-pane -->
                                    <div class="tab-pane fade show" id="client-projects2" role="tabpanel" aria-labelledby="client-projects-tab2">
                                        <!-- .card -->
                                        <div class="card">
                                            <!-- .card-header -->
                                            <div class="card-header d-flex">
                                                <label class="form-group">Share clause</label>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="card card-fluid">
                                                        <!-- #summernote-basic -->
                                                        <textarea type="text" id="shareClause" class="form-control" rows="5" readonly name="shareClo" required>@ViewBag.shareclause</textarea>

                                                    </div><!-- /.card-body -->

                                                </div><!-- /.card -->
                                                

                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade show" id="client-projects3" role="tabpanel" aria-labelledby="client-projects-tab3">
                                        <div class="card">
                                            <!-- .card-header -->
                                            <div class="card-body d-flex">
                                                <!-- .dropdown -->
                                                <div class="table-responsive">
                                                    <!-- .table -->
                                                    <table class="table">
                                                        <!-- thead -->
                                                        <thead>
                                                            <tr>
                                                                <th style="min-width:256px"> Full Name </th>
                                                                <th>National ID/Passport</th>
                                                                <th>Nationality </th>
                                                                <th> Address </th>
                                                                <th> Date of Appoinment </th>
                                                                <th>Representing </th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead><!-- /thead -->
                                                        <!-- tbody -->
                                                        <tbody id="shareholders">
                                                            <!-- tr -->     @if (ViewBag.Subscribers != null)
                                                            {
                                                                @foreach (var subs in ViewBag.Subscribers)
                                                                {
                                                                    if (subs.type == "Self")
                                                                    {


                                                                        <tr>


                                                                            <td>@subs.surname  @subs.names </td>

                                                                            <td>@subs.id_no</td>

                                                                            <td>@subs.nationality</td>

                                                                            <td>@subs.address</td>
                                                                            <td>@subs.names</td>

                                                                           
                                                                            <td>@subs.type</td>

                                                                          
                                                                            <td>@subs.names</td>

                                                                        </tr>
 }
                                                                    else if (subs.type == "Beneficiary")
                                                                    {

                                                                        <tr>


                                                                            <td>@subs.surname  @subs.names </td>

                                                                            <td>@subs.id_no</td>

                                                                            <td>@subs.nationality</td>

                                                                            <td>@subs.address</td>
                                                                            <td>@subs.names</td>


                                                                            <td>@subs.type </td>

                                                                       
                                                                            <td>
                                                                                <a href="#addEmployeeModal1" class="btn btn-primary btn-sm" id="@subs._id" data-toggle="modal">View Beneficiaries </a>
                                                                            </td>


                                                                        </tr>


                                                                    }
                                                                }}


                                                        </tbody><!-- /tbody -->
                                                    </table><!-- /.table -->
                                                </div><!-- /.table-responsive -->
                                            </div><!-- /.card-header -->
                                            <!-- .table-responsive -->
                                           
                                        </div><!-- /.card -->

                                    </div>
                                </div>


                                <div class="row">


                                </div>
                                <div class="form-group fa-pull-right">
                                    <button type="button" onclick="submitObzizz()" class="btn btn-primary" id="memo-new" style="display:none">
                                        Continue
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        @* form to submit share clause and liability clause *@
                        <form style="width:100%;" id="shareClauseForm" method="post">
                            <input type="hidden" name="billercode" value="@ViewBag.billercode" />
                            @*<input type="hidden" name="billercode" value="@ViewBag.billercode" />
                <input type="hidden" id="objectivesss" name="otherObjectives" />
                <input type="hidden" name="billercode" value="@ViewBag.billercode" />*@



                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="HasQuery">Raise Query</label>
                                        <input type="checkbox" asp-for="@HasQuery" name="HasQuery" id="thasQuery">
                                        <input type="hidden" id="tapplicationRef" name="applicationRef" value="@ViewBag.Application" />
                                        <input type="hidden" id="tapplicationID" name="applicationID" value="@ViewBag.ApplicationID" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <input type="text" class="form-control" id="tcomment" name="comment" required>
                                    </div>
                                </div>
                                <div class="form-group fa-pull-right">
                                    <button type="button" id="submitShareAndLiabilityClause" class="btn btn-danger">
                                        Submit Query
                                    </button>
                                </div>



                            </div>

                        </form>
                    </div>
                </div>

            </div>


            <script>
                $(document).ready(function () {
                    $("#submitShareAndLiabilityClause").click(function (e) {
                        //Serialize the form datas.
                        var valdata = $("#shareClauseForm").serialize();
                        //to get alert popup
                        //alert(valdata);
                        $.ajax({
                            url: '/Queries/LiabilityAndShareClauseHasQuery',
                            type: "POST",
                            dataType: 'json',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            data: valdata,
                            success: function (msg) {
                                alert("Query Saved");
                            },
                            error: function (msg) {
                                alert("Query Processed");
                            }

                        });

                    });
                });
            </script>



            <div id="step-5" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
                <div class="card">
                    <div class="card-body">


                        <div class="radio radio-primary form-group">
                            <input type="hidden" id="tableB" value="Yes" name="articles">
                            @*<label>Table B: Model Articles for Private Companies Limited by Shares</label>*@
                        </div>

                        <div class="radio radio-primary form-group">
                            <input type="hidden" id="tableC" value="Yes" name="articles">
                            @*<label>Table C: Model Articles for Private Companies Limited by Guarantee</label>*@
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Articles of association</label>
                                        <input type="text" class="form-control" id="articles" value="@ViewBag.article_type" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea type="text" class="form-control" id="ammendedArticles"></textarea>
                            <label>Provisions of non applicable or amended articles</label>
                        </div>
                    </div>
                </div>
                <div class="form-group fa-pull-right mt-5">
                    <button type="button" id="submitArticles" onclick="submitArticles()" class="btn btn-primary btn-sm" style="display:none">
                        Save application
                    </button>
                </div>
            </div>






            <div style="display:none">
                <div class="card mt-5">
                    <div class="card-header">
                        <h4>Articles of association</h4>
                    </div>
                    <div class="card-body">
                        <div class="radio radio-primary form-group">
                            <input type="hidden" id="tableB" value="Yes" name="articles">
                            @*<label>Table B: Model Articles for Private Companies Limited by Shares</label>*@
                        </div>

                        <div class="radio radio-primary form-group">
                            <input type="hidden" id="tableC" value="Yes" name="articles">
                            @*<label>Table C: Model Articles for Private Companies Limited by Guarantee</label>*@
                        </div>

                        <div class="form-group">
                            <ejs-grid id="Gridyyyy" allowResizing="true" allowFiltering="true" toolbar="@(new List<string>() {"Edit"})">
                                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal"></e-grid-editSettings>
                                <e-data-manager url="/Products/SelectedArticleUrlDataSource" updateUrl="/Company/SelectedArticleCellEditUpdate" insertUrl="/Company/CellEditInsert" removeUrl="/Company/CellEditDelete" adaptor="UrlAdaptor"></e-data-manager>
                                <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
                                <e-grid-columns>
                                    <e-grid-column field="application_Ref" headerText="#" visible="false" allowEditing="false" width="35px"></e-grid-column>
                                    <e-grid-column field="articleId" headerText="#" visible="false" allowEditing="false" width="35px"></e-grid-column>
                                    <e-grid-column field="obj_num" isPrimaryKey="true" headerText="#" allowEditing="false" width="35px"></e-grid-column>
                                    <e-grid-column field="article" headerText="Selected Articles of Association model" allowEditing="false"></e-grid-column>
                                    <e-grid-column field="articleHasQuery" headerText="Has a query" width=125px editType="booleanedit" displayAsCheckBox="true" textAlign="Center" type="boolean"></e-grid-column>
                                    <e-grid-column field="articleComment" headerText="Comment" validationRules="@(new { required=true})"></e-grid-column>
                                </e-grid-columns>
                            </ejs-grid>
                        </div>

                        <div class="form-group">
                            <ejs-grid id="Gridyyy" allowResizing="true" allowFiltering="true" toolbar="@(new List<string>() {"Edit"})">
                                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal"></e-grid-editSettings>
                                <e-data-manager url="/Products/AmmendedArticleUrlDataSource" updateUrl="/Company/AmmendedArticleCellEditUpdate" insertUrl="/Company/CellEditInsert" removeUrl="/Company/CellEditDelete" adaptor="UrlAdaptor"></e-data-manager>
                                <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
                                <e-grid-columns>
                                    <e-grid-column field="articlesId" headerText="#" visible="false" allowEditing="false" width="35px"></e-grid-column>
                                    <e-grid-column field="application_Ref" headerText="#" visible="false" allowEditing="false" width="35px"></e-grid-column>
                                    <e-grid-column field="obj_num" isPrimaryKey="true" headerText="#" width="35px" allowEditing="false"></e-grid-column>
                                    <e-grid-column field="ammendedArticle" headerText="Ammended article" allowEditing="false"></e-grid-column>
                                    <e-grid-column field="ammendedHasQuery" headerText="Has a query" allowEditing="false" width=125px editType="booleanedit" displayAsCheckBox="true" textAlign="Center" type="boolean"></e-grid-column>
                                    <e-grid-column field="ammendedComment" headerText="Comment" validationRules="@(new { required=true})"></e-grid-column>
                                </e-grid-columns>
                            </ejs-grid>
                        </div>
                    </div>
                </div>
            </div>





            <div style="display:none">
                <div class="card mt-5">
                    <div class="card-header">
                        <h4>Members, Directors and Secretary</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="card">
        <h4 class="card-header">Queries</h4>
        <div class="card-body">
            @if (ViewBag.ApplicationQueries.Count > 0) {
            <table class="table table-colored">
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Step Number</th>
                        <th>Query Status</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Queries queries in ViewBag.ApplicationQueries)
                    {
                <tr>
                    <td>@queries.comment</td>
                    <td>@queries.tableName</td>
                    <td>@queries.status</td>
                </tr>}
                </tbody>
                </table>
            }
            else
            {
            <h5 class="text-primary"><strong>Application has No Pending Queries </strong></h5>
            }
        </div>


    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

        // Toolbar extra buttons
        var btnFinish = $('<button></button>').text('Approve application')
            .addClass('btn btn-info')
            .on('click', function () {
                approvePvtApplication();
            });

        // Step show event
        $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
            $("#prev-btn").removeClass('disabled');
            $("#next-btn").removeClass('disabled');
            if (stepPosition === 'first') {
                $("#prev-btn").addClass('disabled');
            } else if (stepPosition === 'last') {
                $("#next-btn").addClass('disabled');
                btnFinish.removeClass('disabled');
            } else {
                $("#prev-btn").removeClass('disabled');
                $("#next-btn").removeClass('disabled');
                btnFinish.addClass('disabled');
            }
        });

        $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
            if (stepNumber === 1 && stepDirection === 'forward') {
               
            } else if (stepNumber === 2 && stepDirection === 'forward') {
                
            } else if (stepNumber === 3 && stepDirection === 'forward') {
                
            }
        });

        // Smart Wizard
        $('#smartwizard').smartWizard({
            theme: 'arrows',
            selected: 0,
            transition: {
                animation: 'fade', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
            },
            toolbarSettings: {
                toolbarPosition: 'bottom', // both bottom
                toolbarExtraButtons: [btnFinish]
            }
        });

        // External Button Events
        $("#reset-btn").on("click", function () {
            // Reset wizard
            $('#smartwizard').smartWizard("reset");
            return true;
        });

        $("#prev-btn").on("click", function () {
            // Navigate previous
            $('#smartwizard').smartWizard("prev");
            return true;
        });

        $("#next-btn").on("click", function () {
            // Navigate next
            $('#smartwizard').smartWizard("next");
            return true;
        });

    });

    var selectedCheck;
    var applicationId;

    //function SubmitQueryOnOffice() {
    //    let str = document.getElementById('query').value;
    //    if (!str || str.trim().length === 0) {
    //        alert('You must pass a comment');
    //    } else {
    //        $.ajax({
    //            type: "POST",
    //            url: "/Examination/AddressHasQuery",
    //            data: {
    //                ApplicationRef: document.getElementById('companyAppRef').value,
    //                HasQuery: document.getElementById('officeHasQuery').checked,
    //                Comment: document.getElementById('query').value
    //            },
    //            success: function (data) {
    //                alert('success');
    //            },
    //            error: function () {
    //                alert("error here");
    //            },
    //            completed: function () {
    //            }
    //        });
    //    }
    //}

    function approvePvtApplication() {
        $.ajax({
            type: 'POST',
            url: '/' + document.getElementById('applicationId').value + '/Approve',
            data: {
                emailAddress: document.getElementById('Email').value,
                taskid: document.getElementById('TaskId').value,
            },
            success: function (data) {
                alert('Application Approved With No Queries');
                window.location = '/Home/Dashboard'
            },
            error: function (data) {
                alert('Application Submitted with Queries');
                window.location = '/Home/Dashboard'
            },
            error: function (err) {
                alert("Application Submitted with Queries");
                window.location = '/Home/Dashboard'
            },
        });
    }
</script>
