@{ Layout = "../Shared/_LayoutMain"; }


<div class="container-fluid">
    <input type="hidden" id="customInput" value="@ViewBag.searchId" />
    @*<div class="row mt-3">
        <button class="ml-3 btn btn-success ">Prev</button>
        <button href="/Products/GetNameSearchesByUserByTaskID?@ViewBag.TaskID" class="mr-3 ml-auto btn btn-success">Next</button>
    </div>*@
    
    @if (ViewBag.mSearch.Count >0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Task Id</th>
                    <th>Search Id</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
               
            </thead>
            @foreach (mSearch item in ViewBag.mSearch)// List of mSearch contains SearchInfo and List<SearchNames
            {
                var searchid = item.SearchNames.FirstOrDefault().Search_ID;
                <tbody>
                    <tr>
                        <td>@item.searchInfo.ExamanerTaskID</td>
                        <td>@searchid</td>
                        <td>@item.searchInfo.Satus</td>
                        <td><a asp-action="ReviewNameSearch" asp-controller="Products" asp-route-taskid="@ViewBag.TaskID" asp-route-searchid="@searchid" class="nav-link">Review</a></td>     @*href="/Products/ReviewNameSearch?@searchid"*@
                    </tr>
                </tbody>
                }
            </table>
    }
    else
    {
        <h3><p> There are no more pending name searches to review</p></h3>
        <a href="/Home/ExaminerTasks" class="btn btn-primary">Home</a>
    }
      