
@{
    ViewData["Title"] = "Private Limited Entity Application";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


    <div class="container-fluid">
        <!-- SmartWizard html -->
        <div id="smartwizard" class="mt-3">

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#step-1">
                        <strong>Select name of the entity</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-2" data-repo="smartwizard">
                        <strong>Register office</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-3" data-repo="jquery-smartcart">
                        <strong>Specify Members, Directors and Secretary</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-4" data-repo="jquery-smartcart">
                        <strong>Specify The memorundum of association</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-5" data-repo="jquery-smartcart">
                        <strong>Specify the articles of association</strong>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                    @if (ViewBag.Count > 0)
                    {
                        <div class="card">
                            <div class="card-header">
                                <div class="row ml-3 mr-3">
                                    <h4>Reserved names</h4>
                                    <span style="flex: 1 1 auto"></span>
                                    <div class="btn-group ml-4">
                                        <button class="btn btn-success" data-toggle="modal" data-target="#name-d">New name search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive container-fluid">
                                    <table class="table  table-mb table-hover">
                                        <thead>
                                            <tr>
                                                <th style="color:#0C2A46">Ref #</th>
                                                <th style="color:#0C2A46">Type of entity</th>
                                                <th style="color:#0C2A46">Reserved name</th>
                                                <th style="color:#0C2A46">Date reserved</th>
                                                <th style="color:#0C2A46">Objective</th>
                                                <th style="color:#0C2A46">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.nameSearches != null)
                                            {

                                                @foreach (var item in ViewBag.nameSearches)
                                                {
                                                    <tr onclick="submitNameSearch('@item.searchInfo.SearchRef','@item.searchInfo.search_ID','@item.searchInfo.search_ID')">
                                                        <td style="color:#0C2A46">@item.searchInfo.SearchRef</td>
                                                        <td style="color:#0C2A46">@item.searchInfo.Search_For</td>
                                                        @foreach (var name in item.SearchNames)
                                                        {
                                                            @if (name.Status == "Reserved")
                                                            {
                                                                <td style="color:#0C2A46">@name.Name</td>
                                                            }
                                                        }

                                                        <td style="color:#0C2A46">@item.searchInfo.ApprovedDate</td>
                                                        <td style="color:#0C2A46">@item.searchInfo.Purpose</td>
                                                        <td>
                                                            <input type="checkbox" id="@item.searchInfo.search_ID">
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <script>
                                                    hasNoName(true);
                                                </script>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4>You have no reserved names</h4>
                                                        <span style="flex: 1 1 auto"></span>
                                                        <button class="btn btn-success">Perform a name search</button>
                                                    </div>
                                                </div>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group fa-pull-right mt-5">
                            <button type="button" onclick="submitNameSearch()" class="btn btn-primary btn-sm" style="visibility: hidden; display: none;" id="subNameSearch">
                                Save application
                            </button>
                        </div>
                    }
                    else
                    {
                        <script>
                            $("#next-btn").addClass('disabled');
                            $("#prev-btn").addClass('disabled');
                        </script>
                        <div class="container-fluid">
                            <h4>You currently have no registered names. Make a new <a href="/Payments/CreditStatus/Name search">Name search</a> application and then proceed</h4>
                        </div>
                    }
                </div>







                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                    <form id="officeForm" action="/Company/RegisterOffice" method="get">

                        <input type="hidden" id="ApplicationId" name="appicationId"/>

                        <div class="card">
                            <div class="card-header">
                                <h4>Registered office details</h4>
                            </div>
                            <div class="card-body">

                                <input type="hidden" name="billercode" value="@ViewBag.billercode" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="#physicalAddress">Physical address</label>
                                            <input type="text" data-minlength="6" class="form-control" id="physicalAddress" name="physicalAddress"  required>
                                            <div class="help-block">Minimum of 6 characters</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="#postalAddress">Postal address</label>
                                            <input type="text" class="form-control" id="postalAddress" name="postalAddress" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="#city">City</label>
                                            <select class="form-control" id="city" name="city" required>
                                                <option value="Harare" selected>Harare</option>
                                                <option value="Mutare">Mutare</option>
                                                <option value="Kadoma">Kadoma</option>
                                                <option value="Gweru">Gweru</option>
                                                <option value="Kwekwe">Kwekwe</option>
                                            </select>
                                            @*<label>City</label>
                            <input type="text" class="form-control" id="city" required>*@
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="#emailAddress">Email address</label>
                                            <input type="email" class="form-control" id="emailAddress" name="emailAddress" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="#telephone">Telephone number</label>
                                            <input type="text" class="form-control" id="telephone" name="telephone" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mobile number</label>
                                            <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group fa-pull-right mt-5">
                                    <button type="submit" id="submitOffice" style="display:none">
                                        Save application
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>






                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                    <input type="hidden" name="billercode" value="@ViewBag.billercode" />

                    <div class="card">
                        <div class="card-header">
                            <label class="mt-3">Members</label>
                            <span style="flex: 1 1 auto"></span>                           
                        </div>
                        <div class="card-body"> 
                            <div class="form-group">
                                <form action="#" method="post" style="width:100%;">
                                    @*/Company/AddCompanyMembers*@

                                    @{
                                        var DropDownList = new Syncfusion.EJ2.DropDowns.DropDownList() { DataSource = ViewBag.sex, Query = "new ej.data.Query()", AllowFiltering = true, Fields = new Syncfusion.EJ2.DropDowns.DropDownListFieldSettings() { Value = "Country", Text = "Country" } };
                                    }


                                    <div class="form-group">
                                        <ejs-grid id="Grid-members" allowResizing="true" allowPaging="true" toolbar="@(new List<string>() { "Add","Edit" , "Delete" })">
                                            <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
                                            <e-data-manager url="/Company/MemberUrlDataSource" updateUrl="/Company/MemberCellEditUpdate" insertUrl="/Company/MemberCellEditInsert" removeUrl="/Company/CellEditDelete" adaptor="UrlAdaptor"></e-data-manager>
                                            <e-grid-columns>
                                                <e-grid-column field="nationalId" headerText="National ID" isPrimaryKey="true" validationRules="@(new { required=true})"></e-grid-column>
                                                <e-grid-column field="nationality" headerText="Nationality" validationRules="@(new { required=true})"></e-grid-column>
                                                <e-grid-column field="surname" headerText="Surname" validationRules="@(new { required=true})"></e-grid-column>
                                                <e-grid-column field="firstName" headerText="Firstname" validationRules="@(new { required=true})"></e-grid-column>
                                                <e-grid-column field="gender" headerText="Gender" width="150" editType="dropdownedit" edit="new {@params = DropDownList }"></e-grid-column>
                                                @*<e-grid-column field="gender" headerText="Gender" validationRules="@(new { required=true})" editType="dropdownedit" edit=new {@params = DropDownList }></e-grid-column>*@
                                                <e-grid-column field="phyicalAddress" headerText="Physical address" validationRules="@(new { required=true})"></e-grid-column>
                                                <e-grid-column field="isAMember" headerText="Member" width=125px editType="booleanedit" displayAsCheckBox="true" textAlign="Center" type="boolean"></e-grid-column>
                                                <e-grid-column field="isADirector" headerText="Director" width=125px editType="booleanedit" displayAsCheckBox="true" textAlign="Center" type="boolean"></e-grid-column>
                                                <e-grid-column field="isABeneficiaryShareholder" headerText="Beneficiary Shareholder" width=125px editType="booleanedit" displayAsCheckBox="true" textAlign="Center" type="boolean"></e-grid-column>
                                                <e-grid-column field="isCompanySecretary" headerText="Secretary" width=125px editType="booleanedit" displayAsCheckBox="true" textAlign="Center" type="boolean"></e-grid-column>
                                                <e-grid-column field="ordinaryShares" headerText="Ordinary shares" validationRules="@(new { required=true})" editType="NumericTextBox"></e-grid-column>
                                                <e-grid-column field="preferenceShares" headerText="Preference shares" validationRules="@(new { required=true})" editType="NumericTextBox"></e-grid-column>
                                                <e-grid-column field="totalShares" headerText="Total shares" validationRules="@(new { required=true})" editType="NumericTextBox"></e-grid-column>
                                            </e-grid-columns>
                                        </ejs-grid>
                                    </div>

                                    <div class="form-group mt-5">
                                        <ejs-grid id="Grid-entities" toolbar="@(new List<string>() { "Add","Edit" , "Delete" })">
                                            <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
                                            <e-data-manager url="/Company/CompanyUrlDataSource" updateUrl="/Company/EntityCellEditUpdate" insertUrl="/Company/EntityCellEditInsert" removeUrl="/Company/CellEditDelete" adaptor="UrlAdaptor"></e-data-manager>

                                            <e-grid-columns>
                                                <e-grid-column field="firstName" headerText="Entity name" validationRules="@(new { required=true})"></e-grid-column>
                                                <e-grid-column field="entityNumber" headerText="Entity number" validationRules="@(new { required=true})"></e-grid-column>
                                                <e-grid-column field="nationality" headerText="Country of origin" validationRules="@(new { required=true})"></e-grid-column>
                                                <e-grid-column field="ordinaryShares" headerText="Ordinary shares" validationRules="@(new { required=true})"></e-grid-column>
                                                <e-grid-column field="preferenceShares" headerText="Preference shares" validationRules="@(new { required=true})"></e-grid-column>
                                                <e-grid-column field="totalShares" headerText="Total shares" validationRules="@(new { required=true})"></e-grid-column>
                                            </e-grid-columns>
                                        </ejs-grid>
                                    </div>

                                    <div class="form-group fa-pull-right">
                                        <button type="submit" class="btn btn-primary" style="display:none">
                                            Continue
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="members" id="members" />
                    <input type="hidden" name="companyMembers" id="companyMembers" />
                    
                    <div class="form-group fa-pull-right mt-5">
                        <button type="button" id="submitEntityMembers" onclick="submitMembers()" class="btn btn-primary btn-sm" style="display:none">
                            Save application
                        </button>
                    </div>
                </div>





                <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
                    <div class="card">
                        <div class="card-body">
                            <form action="#" method="post" style="width:100%;">
                                <input type="hidden" name="billercode" value="@ViewBag.billercode" />
                                <input type="hidden" name="billercode" value="@ViewBag.billercode" />
                                <input type="hidden" id="objectivesss" name="otherObjectives" />
                                <input type="hidden" name="billercode" value="@ViewBag.billercode" />

                                <div class="form-group">
                                    @*<label>Company Members</label>*@
                                    <ejs-grid id="Grid" toolbar="@(new List<string>() { "Add","Edit" ,"Delete" })">
                                        <e-grid-editSettings allowAdding="true" allowDeleting="true" mode="Dialog"></e-grid-editSettings>
                                        <e-data-manager url="/Company/UrlDataSource" updateUrl="/Company/CellEditUpdate" insertUrl="/Company/CellEditInsert" removeUrl="/Company/CellEditDelete" adaptor="UrlAdaptor"></e-data-manager>

                                        <e-grid-columns>                                            
                                            <e-grid-column field="objective" headerText="Object" validationRules="@(new { required=true})"></e-grid-column>
                                        </e-grid-columns>
                                    </ejs-grid>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="form-group">Liability clause</label>
                                        <div class="input-group form-group">
                                            <input type="text" class="form-control" id="liabilityClause" name="liab" step="3" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-group">Share clause</label>
                                        <div class="input-group form-group">
                                            <input type="text" class="form-control" id="shareClause" name="shareClo" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group fa-pull-right">
                                    <button type="button" onclick="submitObzizz()" class="btn btn-primary" id="memo-new" style="display:none">
                                        Continue
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group fa-pull-right mt-5">
                        <button type="button" id="submitObjective" onclick="submitObjective()" class="btn btn-primary btn-sm" style="display:none">
                            Save application
                        </button>
                    </div>
                </div>






                <div id="step-5" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
                    <div class="card">
                        <div class="card-body">


                            <div class="radio radio-primary form-group">
                                <input type="hidden" id="tableB" value="Yes" name="articles">
                                @*<label>Table B: Model Articles for Private Companies Limited by Shares</label>*@
                            </div>

                            <div class="radio radio-primary form-group">
                                <input type="hidden" id="tableC" value="Yes" name="articles">
                                @*<label>Table C: Model Articles for Private Companies Limited by Guarantee</label>*@
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Select Your articles of association model</label>
                                        <select id="models" style="width:100%">
                                            <option value="none">Table B: Model Articles for Private Companies Limited by Shares</option>
                                            <option value="fade">Table C: Model Articles for Private Companies Limited by Guarantee</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control" id="ammendedArticles" required></textarea>
                                <label>Provisions of non applicable or amended articles</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group fa-pull-right mt-5">
                        <button type="button" id="submitArticles" onclick="submitArticles()" class="btn btn-primary btn-sm" style="display:none">
                            Save application
                        </button>
                    </div>                    
                </div>
            </div>
        </div>

        <br /> &nbsp;
    </div>


<script type="text/javascript">
    $(document).ready(function () {

        // Toolbar extra buttons
        var btnFinish = $('<button></button>').text('Submit')
            .addClass('btn btn-info')
            .on('click', function () {
                submitArticles();
            });
        var btnCancel = $('<button></button>').text('Cancel')
            .addClass('btn btn-danger')
            .on('click', function () { $('#smartwizard').smartWizard("reset"); });

        // Step show event
        $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
            $("#prev-btn").removeClass('disabled');
            $("#next-btn").removeClass('disabled');
            if (stepPosition === 'first') {
                $("#prev-btn").addClass('disabled');
            } else if (stepPosition === 'last') {
                $("#next-btn").addClass('disabled');
                btnFinish.removeClass('disabled');
            } else {
                $("#prev-btn").removeClass('disabled');
                $("#next-btn").removeClass('disabled');
                btnFinish.addClass('disabled');
            }
        });

        $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
            if (stepNumber === 0 && stepDirection === 'forward') {
                var name = $('#ApplicationId').val();
                console.log(name);
                if (name === undefined || name.length <= 0) {
                    return false;
                }
                return true;
            } else if (stepNumber === 1 && stepDirection === 'forward') {
                $('#submitOffice').trigger('click');
                return true;
            } else if (stepNumber === 2 && stepDirection === 'forward') {
                submitMembers();
                return true;
            } else if (stepNumber === 3 && stepDirection === 'forward') {
                submitMemo();
                return true;
            }
        });

        // Smart Wizard
        $('#smartwizard').smartWizard({
            theme:'arrows',
            selected: 0,
            transition: {
                animation: 'fade', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
            },
            toolbarSettings: {
                toolbarPosition: 'bottom', // both bottom
                toolbarExtraButtons: [btnFinish, btnCancel]
            }
        });

        // External Button Events
        $("#reset-btn").on("click", function () {
            // Reset wizard
            $('#smartwizard').smartWizard("reset");
            return true;
        });

        $("#prev-btn").on("click", function () {
            // Navigate previous
            $('#smartwizard').smartWizard("prev");
            return true;
        });

        $("#next-btn").on("click", function () {
            // Navigate next
            $('#smartwizard').smartWizard("next");
            return true;
        });

        $('#officeForm').submit(function (e) {
            e.preventDefault();
            let form = $(this);
            let url = form.attr('action');
            console.log(url);
            console.log(form.serialize());

            $.ajax({
                type: form.attr('post'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                    //alert('Office saved');
                },
                error: function (err) {
                    alert("Error");
                },
            });
        });
        
    });

    var noName = false;
    var selectedCheck;    
    var applicationId;

    function hasNoName(value) {
        noName = value;
        console.log(noName);
    }

    function submitNameSearch(appId, nameId,tocheck) {
        console.log(appId);
        console.log(nameId);
        $.ajax({
            type: "POST",
            url: '/PvtReg/' + appId + '/RegisterName/' + nameId,
            success: function (data) {
                //$("#next-btn").trigger("click");
                document.getElementById('ApplicationId').value = data;
                applicationId = data;
                console.log(data);
                if (selectedCheck !== undefined) {
                    selectedCheck.checked = false;
                    selectedCheck = document.getElementById(tocheck);                    
                } else {
                    selectedCheck = document.getElementById(tocheck);                    
                }
                selectedCheck.checked = true;
            },
            error: function (err) {
                alert("Error");
            },
            completed: function () {
            }
        });
    }

    function submitMembers() {
        $.ajax({
            type: "POST",
            url: '/Company/AddCompanyMemberss',
            success: function (data) {
                //alert('Members added');
            },
            error: function (err) {
                alert("Error");
            },
            completed: function () {
            }
        });
    }

    function submitMemo() {
        $.ajax({
            type: "POST",
            url: "/Company/AddCompanyMemorandum",
            data: {
                step: 3,
                liab: document.getElementById("liabilityClause").value,
                shareClo: document.getElementById("shareClause").value
            },
            success: function (data) {
                //alert.log('memo saved');
            },
            error: function () {
                alert("error here");
            },
            completed: function () {
            }
        });
    }

    function submitArticles() {
        $.ajax({
            type: "GET",
            url: "/Company/SubmitNameSearch",
            data: {
                step: 4,                
                Article: document.getElementById('models').options[document.getElementById('models').selectedIndex].text,
                Ammended: document.getElementById('ammendedArticles').value,
                Application_Ref: applicationId
            },
            success: function (data) {
                alert('Your application has been submitted successfully');
                window.location = '/Home/Dashboard';
            },
            error: function () {
                alert("error here");
            },
            completed: function () {
            }
        });
    }
</script>